In [1]:
import numpy as np

# Datatypes and Atrributes

In [2]:
# numpy's main data type is ndarray 
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
a1.shape

(3,)

In [4]:
a2 = np.array([[1,2,3],
               [4,5,6] ])

In [5]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
a2.shape

(2, 3)

In [7]:
a3 = np.array([
        [
            [1,2],
            [3,4]
        ],

        [
            [5,6],
            [7,8]
        ],

        [
            [9,10],
            [11,12]
        ]
              ])

In [8]:
a3

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [9]:
a3.shape

(3, 2, 2)

In [10]:
a1.ndim

1

In [11]:
a1.ndim , a2.ndim , a3.ndim

(1, 2, 3)

In [12]:
a1.dtype , a2.dtype , a2.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [13]:
a1.size , a2.size , a3.size

(3, 6, 12)

In [14]:
type(a1) , type(a2) , type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [16]:
import pandas as pd

In [17]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [19]:
#creating dataframe using numpy arrays 
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6